.create {
  width: 100%;
  padding: 22px 100px 60px 110px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 24px;
}
.progressbar {
  position: relative;
  width: calc(100% - 20px);
  height: 8px;
  background-color: #efeeee;
  margin: 43px 25px 50px 5px;
}
.progressbar__line {
  height: 100%;
  background-color: #5558fa;
}
.progressbar__dot {
  position: absolute;
  top: -4px;
  display: block;
  width: 16px;
  height: 16px;
  background-color: #a6a6a6;
  border-radius: 50%;
}

.progressbar__image {
  position: absolute;
  display: block;
  content: '';
  width: 16px;
  height: 16px;
  left: 0px;
  top: 0px;
  background-repeat: no-repeat;
  background-size: cover;
}
.progressbar__number {
  position: absolute;
  left: 0px;
  top: 30px;
  font-size: 14px;
  color: #666;
}
.progressbar__dot.dot1 {
  left: calc(0% - 6px);
  background-color: #5558fa;
}
.progressbar__dot.dot2 {
  left: calc(50% - 8px);
}
.progressbar__dot.dot3 {
  right: calc(0% - 6px);
}
.dot1 .progressbar__number {
  left: 3px;
}
.dot2 .progressbar__number {
  left: 3px;
}
.dot3 .progressbar__number {
  left: 5px;
}
