.form__input.about {
  width: calc(100% - 10px);
  min-height: 83px;
  margin-bottom: 20px;
}
.step3 .form__wrapper-button {
  margin-right: 10px;
}
.form__count {
  font-size: 14px;
  position: absolute;
  bottom: 0px;
  right: 10px;
  color: #888;
}
